<div class="main-chat">
  <div class="main-top">
    <p>hogefuga</p>
    <div>
      <%= link_to "チャットを終了する", "#" %>
    </div>
  </div>
  <div class="posts">
    <div class="post">
      <div class="post-name_date">
        <div class="post-name">Tom</div>
        <div class="post-date">2020/3/31(Wed) 12:43:30</div>
      </div>
      <div class="post-content">おはよう</div>
    </div>
    <div class="post">
      <div class="post-name_date">
        <div class="post-name">Tom</div>
        <div class="post-date">2020/3/31(Wed) 12:43:30</div>
      </div>
      <div class="post-content">おはよう</div>
    </div>
  </div>
  <div class="main-bottom">
    <%= form_with model: [@room, @message], html: {class: "form"}, local: true do |f|%>
      <div class="form-input">
        <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
        <label class="form-image">
          <span class="image-file">画像</span>
          <%= f.file_field :image, class: 'hidden' %>
        </label>
      </div>
      <%= f.submit '送信', class: 'form-submit' %>
    <% end %>
  </div>
</div>